*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    text-align: center;
    margin: 20px;
}
.bar{
    display: flex;
    flex-direction: row;
    border: 1px solid #24252A;
    padding: 10px;
    background-color: #24252A;
    color: white;
}
.bar>div{
    flex: 1;
}
.a{
    margin-left: 20px;
}
[type='text'],[type='number']{
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d{
    align-self: center;
    justify-content: center;
}
button{
    height: 30px;
    width: 120px;
    background-color: #008AA8;
    border-radius: 10px;
    border: none;
    color: white;
}
::-webkit-input-placeholder {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  :-moz-placeholder {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cards{
      border: 1px solid black;
      width: auto;
      line-height: 30px;
      height: 120px;
      background-color: aliceblue;
  }